@import "./../variables";
@import "./../mixins2";
h2,
p,
ul,
li,
span,
a,
h1,
h3,
h4,
h5,
h6,
img,
div {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.vote-in-mess-container {
  width: 375px;
  background-color: $gray-100;
  @include text-10-regular;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  border-radius: 10px 10px 0px 0px;
  height: 450px;
  & > .item-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f2f5;
    background-color: $gray-000;
    border-radius: 10px 10px 0px 0px;

    & > .left {
      padding: 15px 0px 14px 26.78px;
      display: flex;
      align-items: center;
      & > p {
        margin-left: 10px;
        @include text-16-bold;
      }
    }
    & > .right {
      display: flex;
      padding-right: 20px;
      padding-top: 9px;
      padding-bottom: 9px;
      & > .ic-1 {
        margin-right: 10px;
      }
    }
  }
  & > .item-2 {
    display: flex;
    justify-content: space-between;
    background-color: $gray-000;
    padding: 13px 42.5px 13px 42.5px;
    font-size: 14px;
    color: $gray-400;
    margin-bottom: 2px;
    & > .left {
      font-weight: 700;
      color: #ff8b00;
    }
  }
  & > .vote-item {
    overflow-y: auto;
    flex: 1;
    & > .item-3 {
      margin: 10px 10px 0px 10px;
      & > div {
        padding-bottom: 10px;
        background-color: white;
        border-radius: 10px;
        & > .header {
          padding: 10px 19.72px 10px 10.5px;
          display: flex;
          & > .name {
            width: 251px;
            margin-left: 8px;
            margin-right: 10.22px;
            & > strong {
              @include text-16-regular;
              color: $gray-900;
              margin-bottom: 2px;
            }
            & > span {
              font-size: 14px;
              color: #696a6c;
            }
            & > p {
              font-size: 12px;

              color: $gray-500;
            }
          }
        }
        & > .content {
          padding-left: 8px;
          padding-right: 12px;
          & > .content-detail {
            padding-left: 8px;
            border-left: 1px solid #ff8b00;
            & > b {
              @include text-16-regular;
              font-size: 16px;
              color: #28282b;
              margin-bottom: 5px;
            }
            & > p {
              @include text-14-regular;
              line-height: 16.41px;
              font-size: 14px;
              color: #696a6c;
              & > span {
                color: $orange-800;
              }
            }
            & > div {
              margin-top: 20px;
              display: flex;
              & > div {
                margin-left: 8px;
                & > b {
                  color: $gray-900;
                  @include text-14-bold;
                }
                & > p {
                  color: $gray-500;
                  @include text-12-regular;
                }
              }
            }
          }
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 0;
  }
}
