@import "./../variables";
@import "./../mixins2";
h2,
p,
ul,
li,
span,
a,
h1,
h3,
h4,
h5,
h6,
img,
div {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.list-choose-gim {
    width: 375px;
    position: relative;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 10px 10px;
    @include text-16-regular;
    > .choose {
        display: flex;
        height: 52px;
        align-items: center;
        width: 100%;
        .icon {
            width: 32px;
            height: 32px;
            padding: 0 10px 0 20px;
        }
        .conten {
            flex: 1;
        }
    }
}
