@import "./../variables";
@import "./../mixins2";
h2,
p,
ul,
li,
span,
a,
h1,
h3,
h4,
h5,
h6,
img,
div {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.approval-member {
    width: 375px;
    height: 450px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 0px 0px;
    @include text-10-regular;

    & > .header {
        background-color: $gray-000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        height: 48px;
        justify-content: space-between;
        padding: 0 20px;
        .left {
            display: flex;
            align-items: center;
            svg {
                width: 22px;
                margin-right: 10px;
                height: 22px;
            }

            span {
                @include text-16-bold;
            }
        }
    }
    & > .conten {
        li {
            display: flex;
            align-items: center;
            height: 67px;
            padding: 0 20px;
            & > svg {
                margin-right: 10px;
                + span {
                    height: 67px;
                    @include text-16-regular;
                    margin-left: 20px;
                    width: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                }
            }
            &.title-approval-member {
                .title {
                    margin-left: 0px;
                    height: 67px;
                    width: 100%;
                    align-items: center;
                    display: flex;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    @include text-16-regular;
                }
            }
            // & > .time-start-approval {
            // }
            // & > .repeat-approval {
            // }
        }
    }
}
