@import "./../variables";
@import "./../mixins2";
h2,
p,
ul,
li,
span,
a,
h1,
h3,
h4,
h5,
h6,
img,
div {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.setting-group {
    background-color: $gray-100;
    width: 375px;
    height: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 10px 10px;
    @include text-16-regular;

    & > .header {
        background-color: $gray-000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        height: 48px;
        justify-content: space-between;
        padding: 0 20px;
        .left {
            display: flex;
            align-items: center;
            svg {
                width: 22px;
                margin-right: 10px;
                height: 22px;
            }

            span {
                @include text-16-bold;
            }
        }
    }
    .conten {
        flex: 1;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
        .mess-setting,
        .member-setting,
        .right-member-setting,
        .delete-group {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            background-color: $gray-000;
            & > div {
                height: 52px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                & > div {        
                    // p {              
                    // }
                    span {
                        @include text-12-regular;
                        color: $gray-600;
                    }
                }
                .checkbox-switch {
                    margin-left: 20px;
                    width: 52px;
                    height:32px;
                    position: relative;
                    z-index: 3;
                    & > input[type="checkbox"] {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 52px;
                        height:32px;
                        border-radius: 30px;
                        z-index: 1;
                        opacity: 0.0001;
                    }

                    & > input[type="checkbox"]:checked {
                        background: $orange-700-brand;
                    }

                    div {
                        background-color: $orange-200;
                        width: 52px;
                        height:32px;
                        border-radius: 40px;
                        border: 1px solid $orange-700-brand;
                        position: relative;
                        transition: all 0.15s linear;
                        span {
                            position: absolute;
                            top: 50%;
                            left: 2px;
                            transform: translateY(-50%);
                            width: 28px;
                            height: 28px;
                            border-radius: 20px;
                            background-color: $gray-000;
                            transition: all 0.15s linear;
                        }
                    }
                    input:checked + div {
                        background-color: $orange-700-brand;
                        & > span {
                            left: 20px;
                        }
                    }
                }
            }
        }
        & > .header {
            & > p {
                color: $blue-700-brand;
                @include text-14-regular;
            }
            .delete-group-bnt {
                color: $orange-800;
                @include text-16-regular;
            }
        }
    }
}
