@import "./../variables";
@import "./../mixins2";
h2,
p,
ul,
li,
span,
a,
h1,
h3,
h4,
h5,
h6,
img,
div {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.approval-member {
    background-color: $gray-100;
    width: 375px;
    height: 500px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 0px 0px;
    @include text-10-regular;

    & > .header {
        background-color: $gray-000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
        border-radius: 10px 10px 0px 0px;
        display: flex;
        align-items: center;
        height: 48px;
        justify-content: space-between;
        padding: 0 20px;
        .left {
            display: flex;
            align-items: center;
            svg {
                width: 22px;
                margin-right: 10px;
                height: 22px;
            }

            span {
                @include text-16-bold;
            }
        }
    }
    .conten-approval-member {
        background-color: $gray-000;
        height: calc(100% - 58px);
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        & > .other {
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 22px;
            & > span {
                color: $blue-700-brand;
                @include text-14-regular;
                padding: 8px 0 9px 0;
            }
            svg {
                margin-right: 2.5px;
            }
        }
        & > .conten {
           flex: 1;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0;
            }
            & > li {
                padding: 10px 20px;
                display: flex;
                position: relative;
                align-items: center;
                margin-bottom: 2px;

                & > img {
                    width: 50px;
                    margin-right: 10px;
                    height: 50px;
                    border-radius: 50%;
                }
                & > .name {
                    & > h4 {
                        @include text-16-bold;
                    }
                    & > span {
                        @include text-12-regular;
                        color: $gray-500;
                    }
                }
                .icon-check {
                    width: max-content;
                    position: absolute;
                    right: 20px;
                    svg {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
